<app-main-layout>
  <div class="flex flex-col lg:flex-row gap-8 items-start">
    <!-- Sidebar (Left) - Sticky on Desktop -->
    <div class="lg:w-105 w-full flex-none lg:sticky lg:top-24 z-20">
      <div
        *ngIf="store.loading() && !store.selectedPokemon()"
        class="flex justify-center p-10"
      >
        <div
          class="w-10 h-10 border-4 border-blue-500 border-t-transparent rounded-full animate-spin"
        ></div>
      </div>

      <app-pokemon-detail
        *ngIf="store.selectedPokemon()"
        [pokemon]="store.selectedPokemon()!"
        (prev)="store.selectPrevPokemon()"
        (next)="store.selectNextPokemon()"
      >
      </app-pokemon-detail>
    </div>

    <!-- Grid (Right) -->
    <div class="flex-1 w-full min-w-0">
      <div class="h-6"></div>

      <app-pokemon-grid
        [pokemons]="store.gridPokemons()"
        (select)="onSelect($event)"
      >
      </app-pokemon-grid>

      <!-- Pagination -->
      <div
        class="mt-8 flex justify-center items-center gap-6"
        *ngIf="store.gridPokemons().length > 0 || store.page() > 1"
      >
        <button
          (click)="store.prevPage()"
          [disabled]="store.page() === 1"
          class="px-6 py-2 rounded-xl bg-white/10 border border-white/5 hover:bg-white/20 disabled:opacity-30 disabled:cursor-not-allowed transition-colors text-white font-mono text-sm cursor-pointer"
        >
          Previous
        </button>
        <div
          class="px-4 py-2 rounded-xl bg-white/5 border border-white/5 text-white/70 font-mono font-bold text-sm"
        >
          Page {{ store.page() }}
        </div>
        <button
          (click)="store.nextPage()"
          [disabled]="store.gridPokemons().length < store.searchLimit()"
          class="px-6 py-2 rounded-xl bg-white/10 border border-white/5 hover:bg-white/20 disabled:opacity-30 disabled:cursor-not-allowed transition-colors text-white font-mono text-sm cursor-pointer"
        >
          Next
        </button>
      </div>

      <div
        *ngIf="store.gridPokemons().length === 0 && !store.loading() && store.page() === 1"
        class="text-center py-20 text-slate-500 font-mono text-sm"
      >
        No Pokemon found. Try searching for something else.
      </div>
    </div>
  </div>
</app-main-layout>
