@import "tailwindcss";
@source "./**/*.{html,ts}";

:root {
  --color-type-normal: #A8A77A;
  --color-type-fire: #EE8130;
  --color-type-water: #6390F0;
  --color-type-electric: #F7D02C;
  --color-type-grass: #7AC74C;
  --color-type-ice: #96D9D6;
  --color-type-fighting: #C22E28;
  --color-type-poison: #A33EA1;
  --color-type-ground: #E2BF65;
  --color-type-flying: #A98FF3;
  --color-type-psychic: #F95587;
  --color-type-bug: #A6B91A;
  --color-type-rock: #B6A136;
  --color-type-ghost: #735797;
  --color-type-dragon: #6F35FC;
  --color-type-dark: #705746;
  --color-type-steel: #B7B7CE;
  --color-type-fairy: #D685AD;

  --color-lucario-dark: #1F2029;
}

@utility bg-dot-grid {
    background-image: radial-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px);
    background-size: 24px 24px;
}

@utility glass-card {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(16px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

body {
    font-family: 'Geist', sans-serif;
    background-color: #EBF3F9;
}

h1, h2, h3, h4, h5, h6, .font-heading {
    font-family: 'Geist', sans-serif;
}

.font-mono {
    font-family: 'Geist Mono', monospace;
}
