@import "tailwindcss";
@source "./**/*.{html,ts}";

:root {
<<<<<<< HEAD
  --color-type-normal: #a8a77a;
  --color-type-fire: #ee8130;
  --color-type-water: #6390f0;
  --color-type-electric: #f7d02c;
  --color-type-grass: #7ac74c;
  --color-type-ice: #96d9d6;
  --color-type-fighting: #c22e28;
  --color-type-poison: #a33ea1;
  --color-type-ground: #e2bf65;
  --color-type-flying: #a98ff3;
  --color-type-psychic: #f95587;
  --color-type-bug: #a6b91a;
  --color-type-rock: #b6a136;
=======
<<<<<<< HEAD
  --color-type-normal: #A8A77A;
  --color-type-fire: #EE8130;
  --color-type-water: #6390F0;
  --color-type-electric: #F7D02C;
  --color-type-grass: #7AC74C;
  --color-type-ice: #96D9D6;
  --color-type-fighting: #C22E28;
  --color-type-poison: #A33EA1;
  --color-type-ground: #E2BF65;
  --color-type-flying: #A98FF3;
  --color-type-psychic: #F95587;
  --color-type-bug: #A6B91A;
  --color-type-rock: #B6A136;
>>>>>>> 6b9c6e4 (Fix Tailwind v4 configuration and configure Biome)
  --color-type-ghost: #735797;
  --color-type-dragon: #6f35fc;
  --color-type-dark: #705746;
  --color-type-steel: #b7b7ce;
  --color-type-fairy: #d685ad;

  --color-lucario-dark: #1f2029;
}

@utility bg-dot-grid {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.2) 1px,
    transparent 1px
  );
  background-size: 24px 24px;
}

@utility glass-card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

body {
  font-family: "Geist", sans-serif;
  background-color: #ebf3f9;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-heading {
  font-family: "Geist", sans-serif;
}

.font-mono {
<<<<<<< HEAD
  font-family: "Geist Mono", monospace;
=======
    font-family: 'Geist Mono', monospace;
=======
	--color-type-normal: #a8a77a;
	--color-type-fire: #ee8130;
	--color-type-water: #6390f0;
	--color-type-electric: #f7d02c;
	--color-type-grass: #7ac74c;
	--color-type-ice: #96d9d6;
	--color-type-fighting: #c22e28;
	--color-type-poison: #a33ea1;
	--color-type-ground: #e2bf65;
	--color-type-flying: #a98ff3;
	--color-type-psychic: #f95587;
	--color-type-bug: #a6b91a;
	--color-type-rock: #b6a136;
	--color-type-ghost: #735797;
	--color-type-dragon: #6f35fc;
	--color-type-dark: #705746;
	--color-type-steel: #b7b7ce;
	--color-type-fairy: #d685ad;

	--color-lucario-dark: #1f2029;
}

@utility bg-dot-grid {
	background-image: radial-gradient(
		rgba(255, 255, 255, 0.2) 1px,
		transparent 1px
	);
	background-size: 24px 24px;
}

@utility glass-card {
	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(16px);
	border: 1px solid rgba(255, 255, 255, 0.1);
}

body {
	font-family: "Geist", sans-serif;
	background-color: #ebf3f9;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-heading {
	font-family: "Geist", sans-serif;
}

.font-mono {
	font-family: "Geist Mono", monospace;
>>>>>>> a5e71bb (Fix Tailwind v4 configuration and configure Biome)
>>>>>>> 6b9c6e4 (Fix Tailwind v4 configuration and configure Biome)
}
