<div
  class="min-h-screen bg-[#05091B] text-white bg-dot-grid relative overflow-hidden font-sans"
>
  <!-- Gradient Orb for atmosphere -->
  <div
    class="fixed top-0 left-1/2 -translate-x-1/2 w-200 h-200 bg-blue-900/10 rounded-full blur-[120px] pointer-events-none"
  ></div>

  <!-- Header -->
  <header
    class="relative z-50 px-4 py-4 sm:px-6 sm:py-5 flex items-center justify-between max-w-400 mx-auto"
  >
    <div class="flex items-center gap-2 sm:gap-4">
      <img
        src="assets/pokelogo.svg"
        alt="App Logo"
        class="h-10 sm:h-14 w-auto drop-shadow-[0_0_10px_rgba(255,255,255,0.2)]"
      />
      <img
        src="assets/poketitle.svg"
        alt="Pokedex"
        class="h-14 w-auto hidden sm:block drop-shadow-[0_0_10px_rgba(255,255,255,0.2)]"
      />
    </div>

    <div class="relative w-full max-w-lg mx-2 sm:mx-4">
      <app-search (search)="onSearch($event)"></app-search>
    </div>

    <div class="w-10 hidden sm:block"></div>
    <!-- Spacer -->
  </header>

  <!-- Content -->
  <main class="relative z-10 p-6 pt-2 max-w-400 mx-auto">
    <ng-content></ng-content>
  </main>
</div>
